{% extends '_base.html' %}
{% load static %}

{% block title %}{% if form.instance %}Manage Settings{% else %}Setup{% endif %}{% endblock title %}

{% block card_title %}{% if form.instance %}Manage Settings{% else %}Setup{% endif %}{% endblock %}
{% block card_subtitle %}Station{% endblock %}
{% block card_content %}

    <form class="form" method="POST" action="">
      {% csrf_token %}

      {% for field in form %}
        <div class="input-field{% if field.html_name == 'min_humidity' or field.html_name == 'max_humidity'%} inline{% endif %}">
          {% if field.html_name == 'enable_notifications' %}
            <label for="{{ field.id_for_label }}">
              {{ field }} {{ field.label }}{% if field.field.required %} *{% endif %}
            </label>
          {% else %}
            <label for="{{ field.id_for_label }}">
              {{ field.label }}{% if field.field.required %} *{% endif %}
            </label>
            {{ field }}
          {% endif %}
          {{ field.errors }}
          {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
          {% endif %}
        </div>
      {% endfor %}

      <div class="form-cta">
        <button class="btn btn-primary" type="submit">Save Changes</button>
      </div>
    </form>

{% endblock %}
{% block card_footer_options %}
  <a class="btn btn-option btn-cancel" href="{% url 'dashboard:stations' %}">Cancel</a>
{% endblock %}